**/_misc/
**/_cache/
**/_tmp/
**/_log/
**/_error/
**/_debug/
**/_test/
**/__pycache__/


**/*.html
**/*.css
**/*.js
**/*.json
**/*.xml
**/*.yml
**/*.yaml
**/*.md
**/*.txt
**/*.log
**/*.error
**/*.debug
**/*.env
**/*.csv